{
  "aws.telemetry": false,
  "editor.accessibilitySupport": "off",
  "editor.fontSize": 14,
  "editor.unicodeHighlight.invisibleCharacters": false,
  "git.autofetch": true,
  "workbench.colorTheme": "Default Dark Modern",
  "terminal.integrated.env.osx": {
    "CW_NEW_SESSION": "1"
  },
  "workbench.colorCustomizations": {},
  "jupyter.interactiveWindow.textEditor.executeSelection": true,
  "window.zoomLevel": -1,
  "editor.minimap.enabled": false,
  "workbench.editor.enablePreview": false,
  "indentRainbow.indicatorStyle": "light",
  "workbench.sideBar.location": "right",
  "workbench.startupEditor": "none",
  "notebook.lineNumbers": "on"
}