{
  "aws.telemetry": false,
  "editor.accessibilitySupport": "off",
  "editor.fontSize": 14,
  "editor.unicodeHighlight.invisibleCharacters": false,
  "git.autofetch": true,
  "workbench.colorTheme": "Default Dark Modern",
  "terminal.integrated.env.osx": {
    "CW_NEW_SESSION": "1"
  },
  "workbench.colorCustomizations": {},
  "jupyter.interactiveWindow.textEditor.executeSelection": true,
  "editor.minimap.enabled": false,
  "workbench.editor.enablePreview": false,
  "indentRainbow.indicatorStyle": "light",
  "workbench.sideBar.location": "right",
  "workbench.startupEditor": "none",
  "notebook.lineNumbers": "on",
  "editor.fontFamily": "Menlo, Monaco, 'Courier New', monospace, \"Hack Nerd Font\"",
  "terminal.integrated.fontSize": 14,
  "chat.editor.fontSize": 14,
  "scm.inputFontSize": 14,
  "debug.console.fontSize": 14,
  "window.zoomLevel": -1
}